<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351931343931-mus2rlhiqairogjidh342a0cv2s81jj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351931343931-mus2rlhiqairogjidh342a0cv2s81jj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351931343931-r51emapohmpq5e6s6028de7tegp55g0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgXrz_hfyIk81pp4HDkH-1CwoLH0EuvY4</string>
	<key>GCM_SENDER_ID</key>
	<string>351931343931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futbol.first</string>
	<key>PROJECT_ID</key>
	<string>futbol-first</string>
	<key>STORAGE_BUCKET</key>
	<string>futbol-first.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351931343931:ios:90424a5ddb0528e707a81e</string>
	<key>DATABASE_URL</key>
	<string>https://futbol-first.firebaseio.com</string>
</dict>
</plist>